$icons: (
	  sprite: (width: 190px, height: 190px, pngPath: '../img/icons/sprite.png', svgPath: '../img/icons/sprite.svg'),
 	burger: (width: 100px, height: 100px, backgroundX: 0px, backgroundY: 0px),
 	star_active: (width: 30px, height: 30px, backgroundX: -110px, backgroundY: -110px),
 	star_activeHover: (width: 30px, height: 30px, backgroundX: -150px, backgroundY: -150px),
);
