- var socials = ['fb', 'vk', 'tw'];
- var navigation = ['Главная', 'О компании', 'Оценка', 'Сделки M&A', 'Бухгалтерские услуги', 'Контакты'];
- var tolltips = ['top', 'right', 'bottom', 'left'];
- var titleMenu = ['Независимая оценка', 'Сделки слияния и поглощения', 'Бухгалтерские услуги'];



