.form {
  background-color: rgba( 36, 51, 67, .8);
  color: #97a4b2;
  font-size: 13px;
  border-bottom: 4px solid  #1c242c;
}

.form__inner {
  padding: em(35px) em(30px);
}

.form__title {
  color: $white;
  font-size: em(24px);
  font-family: $font-semibold;
  margin-bottom: 15px;
}

.form__desc {
  max-width: 250px;
  margin-bottom: 30px;
}

.form__label-title {
  display: block;
  margin-bottom: 6px;
  color: #778390;
}

.form__label {
  margin-bottom: 25px;
  display: block;
}

.form__label-input {
  height: 44px;
  width: 100%;
  border: 0 none;
  @include box-shadow(0 -3px #1f2a36);
  background: #34465a;
  padding: 0 10px;
  color: $white;
  line-height: 47px;
  font-size: em(20px);

  &:focus {
    @include box-shadow(0 -4px $orange);
    @include transition(.5s);
  }
}

.form__submit-wrap {
  text-align: center;
}

.buttons {
  border: 0 none;
  height: 47px;
  width: 176px;
  @include box-shadow(0 3px 0 #b97200);
  font-size: 20px;
  font-family: $font-bold;
  background: $orange;
  color: $text_black;


  &:hover, &:focus {
    @include transition(.3s ease);
    margin: 3px 0 -3px;
    opacity: .9;
    @include box-shadow(none);
  } 

  &:active {
    margin: 3px 0 -3px;
    @include box-shadow(none);
    opacity:.7;
  }  
}