body {
	&:after {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include transition(background-color .5s ease-in);
		z-index: -1;
	}
}
body.nav__opened:after {
		z-index: 9;
		background-color: rgba(0, 0, 0, 0.6);
	}

.main {
	background: url(/img/bg/header_bg.jpg) center no-repeat #5982b1;
	min-height:em(796px);
	background-size: cover;
	position: relative;
	.container {
		@include clearfix();	
	}


	&:before {
		content: '';
		@include center;
		background-color: rgb( 57, 75, 95 );
  		opacity: 0.851;
	}
}

.header {
	background: url(../img/bg/header_shadow.png) repeat-x;
	@include rem((
		padding-top: 45px,
		min-height: 200px
	));
}

.logo {
	@include rem(max-width, 105px);
	display: inline-block;
}

.logo__img {
	display: block;
	max-width: 100%;
}

.logo__text {
	position: absolute;
	top:0;
	left: -99999px;
}

.navigation {
	@include media(992px) {
		position: fixed;
		right: -420px;
		@include rem((
			top: 90px,
			width: 420px
		));
		height: 100%;
		background-color:#1C242C;
		border-top: 4px solid #232D3B;
		border-bottom: #111821 4px solid;
		z-index: 999;
	}
}

.navigation__list {
	text-align: justify;

	@include media() {
		text-align: left;
	}

	&:after {
		content: '';
		width: 100%;
		display: inline-block;
	}
	
	@include media(992px) {
		text-align: center;
	}
}

.navigation__item {
	@include inlineblock;

	@include media() {
		margin-left: em(16px);
	}

	&:first-child {
		margin-left: 0;
	}

	@include media(992px) {
		display: block;
		margin-left: 0;
	}
}

.navigation__link {
	line-height: 48px;
	font-size: 14px;
	display: block;
	color: $white;
	text-decoration: none;
	@include transition(.5s);

	@include media(992px) {
		text-transform: uppercase;
		font-family: $font-semibold;
		border-top: 1px solid #222C36;
	}

	&:hover, &_active {
		color: $orange;
		text-decoration: underline;
		background: #34465a; 
	}
}

.header__phone-link {
	@extend .navigation__link;
	border-top: none;
	font-family: $font-bold;
	@include rem((
		font-size: 20px,
		line-height: 44px
	));
	opacity: .9;
	text-align: right;
	
	@include media(480px) {
		text-align: center;
	}
}	

.toggle {
	position: fixed;
	@include rem((
		right: 15px,
		width: 43px,
		height: 40px
	));
	background: $orange;
	@include border-radius(6px);
	overflow: hidden;
	z-index: 999;
}
/* Important styles */
.toggle__nav {
	position: absolute;
	left: 1px;
	right: 0;
	bottom: 0;
	margin: auto;
	@include rem((
		width: 26px,
		top:18px
	));
}

.toggle__nav span:after,
.toggle__nav span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}
.toggle__nav span:after{
  top: 7px;
}
.toggle__nav span {
 	position: relative;
  display: block;
}

.toggle__nav span,
.toggle__nav span:after,
.toggle__nav span:before {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  @include border-radius(31%);
}

/* on activation */
.toggle__nav.active span {
  background-color: transparent;
}
.toggle__nav.active span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle__nav.active span:after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.main__left {
	margin-top: 130px;

	@include media(992px) {
		margin-top: 0;
		@include rem(margin-bottom, 30px);
	}
}

.main__left-title  {
	display: inline-block;
	color: $white;
	font-family: $font-semibold;
	@include rem((
		padding-bottom: 10px,
		font-size: 48px,
		border-bottom: 7px solid $orange
	));
}

.menu-title__list {
	@include rem(margin-top, 30px);
	text-align: left;
}

.menu-title__item {
	position: relative;
	@include rem((
		padding-left: 20px,
		line-height: 40px
	));

	&:before {
		content:"";
    	display: block;
   	position: absolute;
   	@include rem((
			border: 8px solid transparent,
	    	top: 12px
		));
    	left: 0;
    	border-left-color: #fdcf17;
    	border-right-width: 0px;
	}
}

.menu-title__link {
	color: $white;
	position: relative;
	text-decoration: none;
	@include rem(font-size, 20px);

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 100%;
		background: $white;
		@include transform(scaleX(0));
		@include transition(.3s ease-out);
	}

	&:hover:after {
		@include transform(scaleX(1));
	}
}

.form {
	background-color: rgba( 36, 51, 67, .8);
	color: #97a4b2;
	font-size: 13px;
	border-bottom: 4px solid  #1c242c;
}

.form__inner {
	padding: em(35px) em(30px);
}

.form__title {
	color: $white;
	font-size: em(24px);
	font-family: $font-semibold;
	margin-bottom: 15px;
}

.form__desc {
	max-width: 250px;
	margin-bottom: 30px;
}

.form__label-title {
	display: block;
	margin-bottom: 6px;
	color: #778390;
}

.form__label {
	margin-bottom: 25px;
	display: block;
}

.form__label-input {
	height: 44px;
	width: 100%;
	border: 0 none;
	@include box-shadow(0 -3px #1f2a36);
	background: #34465a;
	padding: 0 10px;
	color: $white;
	line-height: 47px;
	font-size: em(20px);

	&:focus {
		@include box-shadow(0 -4px $orange);
		@include transition(.5s);
	}
}

.form__submit-wrap {
	text-align: center;
}

.buttons {
	border: 0 none;
	height: 47px;
	width: 176px;
	@include box-shadow(0 3px 0 #b97200);
	font-size: 20px;
	font-family: $font-bold;
	background: $orange;
	color: $text_black;


	&:hover {
		@include transition(.3s ease);
		margin: 3px 0 -3px;
		opacity: .9;
		@include box-shadow(none);
	}	

	&:active, &:focus {
		opacity:.7;
		background-color: #FFB338;
	}	 
}