// Colors
$bg_darkblue: #2c3949;
$white: #fff;
$text_black: #111;
$grey: #333;
$border: #ebedef;
$bg-input: #fbfbfb;
$orange: #f39f18;
$border-grey: #dee1e4;

// Setting
$container-width: 970px;
$footer-height: 220px;
$socials: vk, tw, fb;

// Fonts
$base-font-size: 16px;
$font-main: 'OpensansReqular', sans-serif;
$font-semibold: 'OpensansSemibold';
$font-bold: 'OpensansBold';

//Path
$path-images: '../img';
$path-fonts: '../fonts/';